<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Loop\Tracking\Api\TrackingRepositoryInterface" type="Loop\Tracking\Model\TrackingRepository"/>
    <preference for="Loop\Tracking\Api\Data\TrackingInterface" type="Loop\Tracking\Model\Tracking"/>
</config>